In [5]:
import openpyxl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [6]:
df = pd.read_csv('data/features_classes_sorted.csv')
df.head()

,name,retrieval,appraisal,extraction,output,admin,access,total_count
0,Giotto Compliance,5,6,4,3,6,3,27
1,Nested Knowledge,5,5,2,5,6,4,27
2,DistillerSR,5,6,3,4,6,2,26
3,EPPI-Reviewer Web,4,6,4,3,5,3,25
4,LitStream,2,5,3,3,6,4,23

In [7]:
del df['total_count']
df.head()

                name  retrieval  appraisal  extraction  output  admin  access
0  Giotto Compliance          5          6           4       3      6       3
1   Nested Knowledge          5          5           2       5      6       4
2        DistillerSR          5          6           3       4      6       2
3  EPPI-Reviewer Web          4          6           4       3      5       3
4          LitStream          2          5           3       3      6       4

## Make a stacked bar chat